

body{
	font-family: 'PT Sans';
	background-color: #b7b7a4;
	color:#e6e6e6;
	background-image: url('assets/pinkTreesPortraitCrop.jpg');
	background-repeat:repeat-x;
	background-size: cover;
}

h1, h2{
	text-align: left;
	font-family: 'Cormorant';
	font-size: 250%;
	text-shadow: 1px 1px 0px #6b705c;
	line-height: 20%;
}

p{
	color:#e6e6e6;
	font-family: 'Cormorant';
	text-shadow: 1px 1px 0px #6b705c;
	font-size: 120%;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 99%;
	height: 4%;   /* Height of the footer */
	background: #6b705c;
	color:#ffe8d6;
	text-align: center;
	font-family: 'Cormorant';
	font-size: larger;
	z-index: 100;
}

div.grid{
	width: 100%;
	column-count: 2;
}

.column {
	margin:auto;
	float: left;
	width: 50%;
	padding: 3%;
}

img{
	width: 50%;
}

.parabox{
	background-color: #b7b7a4;
}


@media only screen and (max-width: 600px) {

	.column {
		margin-left:auto;
		margin-right:auto;
		width: 100%;
		display: block;
	}
}